@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

:root {
  --background: #19a2ae;
  --card-shadow: #00000049;
  --data-border: #9696964d;
  --main: #ffffff;
  --strong-text: #2d3248;
  --text: #6a6f81;
}

body {
  background-attachment: fixed;
  background-color: var(--background);
  background-image: url("./assets/images/bg-pattern-top.svg"),
    url(".//assets//images/bg-pattern-bottom.svg");
  background-position: right 51vw bottom 38vh, left 50vw top 50vh;
  background-repeat: no-repeat;
  font-family: "Kumbh Sans", sans-serif;
}
