@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
@import "./styles/animations//animations.css";

* {
  border: 0;
  box-sizing: border-box;
  font-family: var(--primary), var(--secondary);
  list-style: none;
  margin: 0;
  outline: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  --background: #19a2ae;
  --card-shadow: #00000049;
  --data-border: #9696964d;
  --card: #ffffff;
  --strong-text: #2d3248;
  --text: #6a6f81;

  --primary: "Kumbh Sans";
  --secondary: sans-serif;
}

html {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

body {
  animation: rotate 30s linear infinite;
  background-attachment: fixed;
  background-color: var(--background);
  background-image: url("./assets/images/top-circle.svg"),
    url(".//assets//images/bottom-circle.svg");
  background-position: right 51vw bottom 38vh, left 50vw top 50vh;
  background-repeat: no-repeat;
}
